<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Images</h1>
        
        {% for i in range(0, 501) %}
            <img src="/lslga?num={{i}}"></img>
            <!-- <img src="/lslga?num={{i}}" alt=""></img> -->
            <!-- <img src="/lslga?num={{i}}" onerror="this.style.display='none'"></img> -->
            <!-- <img src="/lslga?num={{i}}" onerror="this.parentNode.removeChild(this)"></img> -->
        {% endfor %}

    </body>
</html>
