<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>Images</h1>
        
        {% for i in good_rows %}
            <img src="/lslga?num={{i}}"></img>
        {% endfor %}

        <!--
        {% for i in good_rows %}
            <img src="/lslga?num={{i}}"></img>
            {% if loop.index is divisibleby 3 %}
            <br/>
            {% endif %}
        {% endfor %}
        -->

        <!--
        {% for i in good_rows %}
            <img src="/lslga?num={{i}}"></img> <br/>
        {% endfor %}
        -->

        <!--
        {% for i in range(0, 11) %}
            <img src="/lslga?num={{i}}"></img> <br/>
        {% endfor %}
        -->

    </body>
</html>
