<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <style>
            .center {
                display: block;
                margin: auto;
            }
            .text-center {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <a href="/simple.png">
            <img class="center" src="/simple.png"></img>
        </a>
        <!-- <div class="text-center">{{simple_label}}</div> -->
        <!-- <a href="/test.jpg"> -->
            <img class="center" src="/test.jpg"></img>
        <!-- </a> -->
        <!-- <div class="text-center">{{test_label}}</div> -->
    </body>
</html>
