<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <style>
            body {
                color: #E0E0E0;
                background-color: #333333;
                font-family: sans-serif;
            }
            .center {
                display: block;
                margin: auto;
            }
            .text-center {
                text-align: center;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <div class="text-center">{{test_label}}</div>
        <a href="/test.jpg"><img class="center" src="/test.jpg"></img></a>
    </body>
</html>
