/* --- Main --- */

/*
Padding orders:
- top right bottom left
- top right/left bottom
- top/bottom right/left
- top/bottom/right/left
*/

/* For visualization */

/*
* {
    border: 1px solid black;
}
*/

html, body {
    font-family: sans-serif;
    position: relative;
    margin: 0px;
    padding: 0px;
    /* color: #E0E0E0;
    background-color: #333333; */
    color: #cfd9e5;
    background-color: #303640;
}

a {
    color: #75aaff
}

#main {
    margin: 0px;
    margin-top: 40px; /* This is very empirical */
    padding: 20px;
    /* border: 2px solid #00ff00; */
}

/* --- Navbar --- */

nav {
    background-color: #101826;
    position: fixed;
    width: 100%;
    z-index: 1;  
    top: 0px;
}

nav ul {
    padding-left: 0px;
    display: inline;
    line-height: 40px;
}

nav li {
    display: inline-block;
    position: relative;
    padding: 0px 0px 0px 15px;
    color: #bdbdbd;
    /* color: #000000; */
}

.floatright {
    float: right;
    padding: 0px 15px 0px 0px;
}

nav a {
    color: #75a8ff;   
    padding: 0px;
    margin: 0px;
    /* text-decoration: underline; */
    text-decoration: none;
}

nav a:hover {
    color: #5588dd;
}

/* --- Titles and Subtitles --- */

.title {
    padding: 0px 0px 10px 0px;
    margin: 0px;
}

.center-text {
    text-align: center;
}

/* --- Register/Login Form --- */

#user-form {
    width: 40em;
    margin: auto;
}

#user-form input[type=text],
#user-form input[type=password] {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0px;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

#user-form input[type=submit] {
    width: 100%;
    background-color: #4c9baf;
    color: #ffffff;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
}

#user-form input[type=submit]:hover {
    background-color: #488fa1;
}

#user-form .flash {
    margin: 1em 0em;
    padding: 1em;
    color: #000000;
    background-color: #a4b2ff;
    border: 2px solid #3c4ac7;
}

/* --- Information Submission Form --- */

/*
#galaxy-form {
    border: 2px solid #a0a0a0;
    padding: 20px;
}
*/

#galaxy-form input[type=submit] {
    background-color: #4c9baf;
    color: #ffffff;
    padding: 10px 14px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
}

#galaxy-form input[type=submit]:hover {
    background-color: #488fa1;
}

#galaxy-form textarea {
    display: block;
    width: 40em;
    height: 15em;
}

#galaxy-form .flash {
    display: table;
    margin: 1em 0em;
    padding: 1em;
    color: #000000;
    background-color: #a4b2ff;
    border: 2px solid #3c4ac7;
}
