/* --- Main --- */

/*
Padding orders:
- top right bottom left
- top right/left bottom
- top/bottom right/left
- top/bottom/right/left
*/

/* For visualization */

/*
* {
    border: 1px solid black;
}
*/

html, body {
    position: relative;
    margin: 0px;
    padding: 0px;

    /* color: #E0E0E0;
    background-color: #333333; */
    font-family: sans-serif;
}

#main {
    margin: 0px;
    margin-top: 40px; /* This is very empirical */
    padding: 15px 15px 15px 15px;
    /* border: 2px solid #00ff00; */
}

a {
    color: #75aaff
}

/* --- Navbar --- */

nav {
    background-color: #666666;
    position: fixed;
    width: 100%;
    z-index: 1;  
    top: 0px;
}

nav ul {
    padding-left: 0px;
    display: inline;
    line-height: 40px;
}

nav li {
    display: inline-block;
    position: relative;
    padding: 0px 0px 0px 10px;
    color: #000000;
}

.floatright {
    float: right;
    padding: 0px 10px 0px 0px;
}

nav a {
    color: #77aaff;   
    padding: 0px;
    margin: 0px;
    text-decoration: underline;
}

nav a:hover {
    color: #5588dd;
}

/* --- Titles and Subtitles --- */

.title {
    padding: 0px 0px 10px 0px;
    margin: 0px;
}
