<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <ul>
                <li>LSLGA Inspection Tool</li>
                <!-- <li><a href="">Dummy</a></li> -->
                {% if g.user %}
                    <li class="floatright">{{ g.user['username'] }}</li>
                    <li class="floatright"><a href="{{ url_for('user.logout') }}">Log Out</a></li>
                {% else %}
                    <li class="floatright"><a href="{{ url_for('user.register') }}">Register</a></li>
                    <li class="floatright"><a href="{{ url_for('user.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </nav>
        <div id="main">

            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {% block content %}{% endblock %}

        </div>
    </body>
</html>
