{% extends 'base.html' %}

{% block title %}Index Page{% endblock %}

{% block content %}
    <h3 class="title">Select a catalog to inspect:</h3>
    {% for key, value in pretty_strings.items() %}
        {% if key == 'all' %}
            <a href="{{ url_for('inspect.inspect_catalog', catalog_raw=key) }}">Inspect {{key}} galaxies</a><br/>
        {% else %}
            <a href="{{ url_for('inspect.inspect_catalog', catalog_raw=key) }}">Inspect {{value}} galaxies</a><br/>
        {% endif %}
    {% endfor %}
{% endblock %}
