{% extends 'base.html' %}

{% block title %}{{ info['GALAXY'] }}{% endblock %}

{% block content %}
    <h1 class="title">{{ info['GALAXY'] }}</h1>
    <b>PGC:</b> {{ info['PGC'] }} <br/>
    <b>RA:</b> {{ '{:.6f}'.format(info['RA'], 6) }}<br/>
    <b>DEC:</b> {{ '{:.6f}'.format(info['DEC'], 6) }}<br/>
    <b>PA:</b> {{ '{:.1f} deg'.format(info['PA'], 1) }}<br/>
    <b>D(25):</b> {{ '{:.3f} arcmin'.format(info['D25'], 3) }}<br/>
    <b>B/A:</b> {{ '{:.2f}'.format(info['BA'], 2) }}<br/>
    <b>Type: </b> {{ info['TYPE'] }}<br/>
    <b>Redshift:</b> {{ '{:.4f}'.format(info['Z']) }}<br/>

    <p></p>

    <!-- TODO: Make images link to full res images: pixscale forced to 0.262 and frame is autosized -->
    <!-- TODO: Make lslga_utils autoscale based on margin instead of aspect ratio? -->
    <!-- TODO: Style this page to avoid use of <p></p> tags to create space -->
    <!-- May need to write a separate method for simplicity, which is find, because this is the
    only file which depends on the lslga URL being available -->

    <!-- When it gets as convoluted as this, hardcoding is just easier -->

    <img src="/lslga?id={{id}}&layer=dr8&annotation=Data"></img>
    <img src="/lslga?id={{id}}&layer=dr8-model&annotation=Model"></img>
    <img src="/lslga?id={{id}}&layer=dr8-resid&annotation=Residual"></img>

    <!--
    <img src="{{ url_for('image.lslga', id=id, layer='dr8', annotation='Data')|safe }}"></img>
    <img src="{{ url_for('image.lslga', id=id, layer='dr8-model', annotation='Model')|safe }}"></img>
    <img src="{{ url_for('image.lslga', id=id, layer='dr8-resid', annotation='Residual')|safe }}"></img>
    -->

    <p></p>

    <a href="{{ url_for('inspect.inspect_catalog', catalog_raw=catalog_raw) }}">[New {{catalog_pretty}} galaxy]</a>
    <br/>
    <a href="{{viewer_link|safe}}" target="_blank">[Inspect in Viewer]</a>
{% endblock %}
