{% extends 'base.html' %}

{% block title %}
    {% if action == "register" %}
        Register
    {% elif action == "login" %}
        Log In
    {% endif %}
{% endblock %}

{% block content %}
    {% if action == "register" %}
        <h1 class="title">Register</h1>
    {% elif action == "login" %}
        <h1 class="title">Log In</h1>
    {% endif %}
    <form method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <br/> <!-- TODO -->
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <br/> <!-- TODO -->
        {% if action == "register" %}
            <input type="submit" value="Register">
        {% elif action == "login" %}
            <input type="submit" value="Log In">
        {% endif %}
    </form>
{% endblock %}
