body {
    color: #E0E0E0;
    background-color: #333333;
    font-family: sans-serif;
}
.img-center {
    display: block;
    margin: auto;
}
.text-center {
    text-align: center;
    padding: 10px;
}
a {
    color: #75aaff;
}