<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h3>Select a catalog to inspect:</h3>
        <a href="/test/all">Inspect all galaxies</a><br/>
        <a href="/test/ngc">Inspect NGC galaxies</a><br/>
        <a href="/test/sdss">Inspect SDSS galaxies</a><br/>
        <a href="/test/2mas">Inspect 2MASS/2MASX galaxies</a><br/>
        <a href="/test/pgc">Inspect PGC galaxies</a><br/>
    </body>
</html>
