<!DOCTYPE html>
<html>
    <head>
        <title>Index Page</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <h1>{{info['GALAXY']}}</h1>
        <b>PGC:</b> {{info['PGC']}}<br/>
        <b>RA:</b> {{info['RA']}}<br/>
        <b>DEC:</b> {{info['DEC']}}<br/>
        <b>PA:</b> {{info['PA']}}<br/>
        <b>D25:</b> {{info['D25']}}<br/>
        <b>BA:</b> {{info['BA']}}<br/>

        <p></p>

        <img src="/lslga?num={{rand}}&layer=dr8&annotation=Data"></img>
        <img src="/lslga?num={{rand}}&layer=dr8-model&annotation=Model"></img>
        <img src="/lslga?num={{rand}}&layer=dr8-resid&annotation=Residual"></img>

        <p></p>

        <a href="/test/{{catalog_raw}}">[New {{catalog_pretty}} galaxy]</a>
        <br/>
        <a href="{{viewer_link|safe}}">[Inspect in Viewer]</a>
        <br/>
        <a href="/test">[Back to catalog list]</a>

    </body>
</html>
